<div x-dt1>
  {{ match.get_creation.isoformat }}
</div>

<div class="flex gap-x-1">

  <div class="grid grid-cols-3 grid-rows-3 w-16 h-16">
    <img class="col-span-2 row-span-2"
         src="{{ match.focus.champion.image.file_40.url }}"
         alt="">
    <img src="{{ match.focus.champion.image.file_40.url }}" alt="">
    <img src="{{ match.focus.champion.image.file_40.url }}" alt="">
    <img src="{{ match.focus.item_6.image_url }}" alt="">
    <img src="{{ match.focus.item_6.image_url }}" alt="">
    <img src="{{ match.focus.item_6.image_url }}" alt="">
  </div>

  <div class="grid grid-rows-2 grid-cols-3 gap-1 mt-auto mb-auto">
    {% for item in match.focus.items %}
      <div class="rounded border border-gray-400 w-8 h-8">
        {% if item %}
          <img class="rounded" src="{{ item.image_url }}" alt="">
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="text-xs">
    <div class="flex gap-x-2">
      <div class="flex flex-col">
        {% for part in match.team100 %}
          <div class="flex gap-x-2">
            <div>
              <a href="{{ part.get_absolute_url }}">
                {{ part.get_name }}
              </a>
            </div>
            <div class="ml-auto">
              {{ part.stats.kills }} / {{ part.stats.deaths }} / {{ part.stats.assists }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="flex flex-col">
        {% for part in match.team200 %}
          <div class="flex gap-x-2">
            <a href="{{ part.get_absolute_url }}">
              {{ part.get_name }}
            </a>
            <div class="ml-auto">
              {{ part.stats.kills }} / {{ part.stats.deaths }} / {{ part.stats.assists }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
