<div class="border border-zinc-400 rounded p-2">
  <div class="flex gap-x-2">
    <div x-dt1 class="text-xs">
      {{ match.get_creation.isoformat }}
    </div>
    <div class="text-xs font-bold">
      {{ match.queue_name }}
    </div>
  </div>

  <div class="flex gap-x-1">

    <div class="grid grid-cols-3 grid-rows-3 w-16 h-16">
      <img class="col-span-2 row-span-2"
           src="{{ match.focus.champion.image.file_40.url }}"
           alt="{{ match.focus.champion.name }}">
      <img src="{{ match.focus.spell_1.image_url }}" alt="">
      <img src="{{ match.focus.spell_2.image_url }}" alt="">
      <img src="{{ match.focus.item_6.image_url }}" alt="">
      <img src="{{ match.focus.item_6.image_url }}" alt="">
      <img src="{{ match.focus.item_6.image_url }}" alt="">
    </div>

    <div class="grid grid-rows-2 grid-cols-3 gap-1 mt-auto mb-auto">
      {% for item in match.focus.items %}
        <div class="rounded border border-gray-400 w-8 h-8">
          {% if item %}
            <img class="rounded" src="{{ item.image_url }}" alt="">
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="text-xs">
      <div class="flex gap-x-2">
        <div class="flex flex-col">
          {% for part in match.team100 %}
            {% include "player/_team_participant_row.html" %}
          {% endfor %}
        </div>
        <div class="flex flex-col">
          {% for part in match.team200 %}
            {% include "player/_team_participant_row.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
