<div class="flex gap-x-2 w-44">
  {% if part.champion.image.file_15 %}
    <img class="h-full aspect-square"
         src="{{ part.champion.image.file_15.url }}"
         alt="{{ part.champion.name }}"
         title="{{ part.champion.name }}">
  {% endif %}
  <div title="{{ part.get_name }}"
       class="overflow-ellipsis overflow-hidden whitespace-nowrap">
    {% if part.puuid == match.focus.puuid %}
      <b>{{ part.get_name }}</b>
    {% else %}
      <a href="{{ part.get_absolute_url }}">
        {{ part.get_name }}
      </a>
    {% endif %}
  </div>
  <div class="ml-auto whitespace-nowrap">
    {{ part.stats.kills }} / {{ part.stats.deaths }} / {{ part.stats.assists }}
  </div>
</div>
