LOLSITE_HOST=dev
LOLSITE_DB_NAME=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres
LOLSITE_DB_USER=postgres
LOLSITE_DB_HOST=db
LOLSITE_DB_PORT=5432
LOLSITE_DB_PASS=postgres
LOLSITE_EMAIL_HOST_PASSWORD=

REDIS_URL=redis

DOCKER_REACT_LINK=react:3000
REACT_URL=localhost:3000
DJANGO_SETTINGS_MODULE=lolsite.settings_local
RIOT_API_TOKEN=token

REACT_DEV=True

SENTRY_DSN=

# only use if you want to test logging to axiom
# AXIOM_TOKEN=
# AXIOM_ORG_ID=
# AXIOM_URL=
# AXIOM_DATASET=
