DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
REDIS_URL=redis
DJANGO_SETTINGS_MODULE=lolsite.settings_local

# needs values
RIOT_API_TOKEN=
GOOGLE_RECAPTCHA_API_KEY=
GOOGLE_RECAPTCHA_KEY=

# can be empty
SENTRY_DSN=
SENDGRID_KEY=

OPENAI_KEY=
