__pycache__/*
*.pyc

react/node_modules
react/start.bat
react/build/*

tags

/static/

.DS_Store
.ipynb_checkpoints/*
*.ipynb
.vscode/
.vim/

# backup files made by vim
**/*~

.coverage
htmlcov/
wily-report.html

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

