services:
  db:
    image: postgres:16.4-alpine
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5435:5432"
    env_file: .docker_env
  web:
    build:
      context: .
      dockerfile: ./docker/local/Dockerfile
    command: uv run manage.py runserver_plus 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/code
    links:
      - db:db
      - redis:redis
    env_file: .docker_env
    depends_on:
      - db
      - redis
    stdin_open: true
  worker:
    build:
      context: .
      dockerfile: ./docker/local/Dockerfile
    command: uv run celery -A lolsite worker -l info
    volumes:
      - .:/code
    links:
      - db:db
      - redis:redis
    env_file: .docker_env
    depends_on:
      - db
      - redis
  beat:
    build:
      context: .
      dockerfile: ./docker/local/Dockerfile
    command: uv run celery -A lolsite beat -l INFO
    volumes:
      - .:/code
    links:
      - db:db
      - redis:redis
    env_file: .docker_env
    depends_on:
      - db
      - redis
  redis:
    image: redis
  tailwind:
    build:
      context: .
      dockerfile: ./docker/local/Dockerfile
    command: uv run tailwindcss -i ./lolsite/static/src/main.css -o ./lolsite/static/src/output.css --minify --watch
    volumes:
      - .:/code
    env_file: .docker_env
    stdin_open: true
