[tool.black]
exclude = '/*migrations*/'
line-length = 88

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = [
    "tests",
]
DJANGO_SETTINGS_MODULE = "lolsite.settings_test"

[tool.mypy]
plugins = ["mypy_django_plugin.main"]

[tool.django-stubs]
django_settings_module = "lolsite.settings_local"

[tool.ruff]
ignore = ["E501"]
target-version = "py314"

[tool.djlint]
indent = 2
format_js = true
format_css = true
line_break_after_multiline_tag = true
max_blank_lines = 1
profile = "django"
custom_html = "c-[\\w._\\-]+"

[tool.djlint.js]
indent_size = 2

[tool.djlint.css]
indent_size = 2

[tool.pyright]
exclude = ["**/migrations/**", ".venv/**", "**/tests/**"]
typeCheckingMode = "standard"
