beautifulsoup4<5
boto3==1.18
celery<5.3
dj-database-url
django>=4.2,<4.3
django-debug-toolbar
django-cors-headers
django-extensions<3.1
django-filter
django-redis
django-storages<1.14
django-stubs[compatible-mypy]
mypy
django-stubs-ext
djangorestframework
factory_boy
gunicorn
hypothesis
lolwrapper==1.6.1
Pillow>=9.0.0
psycopg[binary]
python-decouple<=3.3
pydantic<3
redis<5
requests
sentry-sdk<2
openai
