beautifulsoup4<5
boto3>=1.34.69
celery[redis]>=5.3.6
dj-database-url
django~=5.1.1
django-debug-toolbar
django-cors-headers
django-extensions
django-filter
django-redis
django-storages
django-stubs[compatible-mypy]
django-cotton>=1.0.3
mypy
django-stubs-ext
djangorestframework
factory_boy
gunicorn
hypothesis
ipython
lolwrapper @ git+https://github.com/brianjp93/lolapi.git@c84841786484f7e0b844fa203c06f8bdea54647f
Pillow>=9.0.0
psycopg[binary]
python-decouple
pydantic<3
redis<5
requests
sentry-sdk
openai
pytz
pytailwindcss
django-htmx
whitenoise
