packages:
  yum:
    postgresql95-devel: []
    gcc: []
    libffi-devel: []
    python36-devel: []
    openssl-devel: []
    libcurl-devel: []
    libssh2-devel: []
    libjpeg-turbo-devel: []

files:
  "/usr/local/share/pycurl-7.43.0.tar.gz" :
    mode: "000644"
    owner: root
    group: root
    source: https://pypi.python.org/packages/source/p/pycurl/pycurl-7.43.0.tar.gz

commands:
  01_setuptools_upgrade:
    command: './pip install setuptools==40.4.3'
    cwd: /opt/python/run/venv/bin
  02_pip_upgrade:
    command: './pip install --upgrade pip'
    cwd: /opt/python/run/venv/bin


container_commands:
  03_pycurl_reinstall:
    # run this before PIP installs requirements as it needs to be compiled with OpenSSL
    # the upgrade option is because it will run after PIP installs the requirements.txt file.
    # and it needs to be done with the virtual-env activated
    command: 'source /opt/python/run/venv/bin/activate && pip3 install /usr/local/share/pycurl-7.43.0.tar.gz --global-option="--with-openssl" --upgrade'
