packages:
  yum:
    postgresql95-devel: []
    gcc: []
    libffi-devel: []
    python27-devel: []
    openssl-devel: []
    libjpeg-turbo-devel: []

commands:
  01_setuptools_upgrade:
    command: './pip install setuptools==40.4.3'
    cwd: /opt/python/run/venv/bin
  02_install_react:
    command: 'npm install'
    cwd: /opt/python/current/app/react
  03_build_react:
    command: 'npm run build'
    cwd: /opt/python/current/app/react