packages:
  yum:
    postgresql95-devel: []
    gcc: []
    libffi-devel: []
    python36-devel: []
    openssl-devel: []
    libcurl-devel: []
    libssh2-devel: []
    nss-devel: []
    libjpeg-turbo-devel: []

commands:
  01_setuptools_upgrade:
    command: './pip install setuptools==40.4.3'
    cwd: /opt/python/run/venv/bin
  02_pip_upgrade:
    command: './pip install --upgrade pip'
    cwd: /opt/python/run/venv/bin
