container_commands:
  01_migrate:
    command: |
      if [ "$ENVNAME" == "lolsite" ]; then
        django-admin.py migrate
      fi
    leader_only: true
  02_createsu:
    command: |
      if [ "$ENVNAME" == "lolsite" ]; then
        source /opt/python/run/venv/bin/activate && python manage.py createsu
      fi
    leader_only: true
  03_install_node:
    command: |
      echo "installing nodejs"
      curl --silent --location https://rpm.nodesource.com/setup_15.x | bash -
      yum -y install nodejs
      echo "finished installing nodejs"
  04_build_react:
    command: |
      cd react
      echo "running npm install"
      npm install
      echo "building react app"
      npm run build
      echo "finished building react app"
  09_collectstatic:
    command: |
      if [ "$ENVNAME" == "lolsite" ]; then
        source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput
      fi
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "lolsite.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: lolsite/wsgi.py
