container_commands:
  05_move_start_env:
    command: |
      cat .ebextensions/files/startenv.txt > /tmp/startenv.sh

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "manager.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: manager/wsgi.py