container_commands:
  06_celery_worker_beat_run_under_condition:
    command: |
      # get environment variables before running worker.  New instances need this I think.
      . /opt/python/current/env
      # DO WORKER
      cat .ebextensions/files/celery.conf > /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd_worker.sh
      dos2unix /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd_worker.sh
      chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd_worker.sh
      /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd_worker.sh

      /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf reread
      /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf update
      /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart celeryd-worker

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "lolsite.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: lolsite/wsgi.py
