<div class="flex gap-x-2">
  <div
    class="
      flex flex-col gap-y-2 p-2 rounded
      {% if match.team100_win %}
        border border-green-600 bg-green-600/10
      {% elif match.team200_win %}
        border border-red-600 bg-red-600/10
      {% endif %}
    "
  >
    {% for participant in match.team100 %}
      {% include "match/_match_detail_participant_row.html" %}
    {% endfor %}
    <div>
      Bounty Received: {{ timeline.team_bounties.100|default:0|floatformat:"0" }}G
    </div>
  </div>
  <div
    class="
      flex flex-col gap-y-2 p-2 rounded
      {% if match.team200_win %}
        border border-green-600 bg-green-600/10
      {% elif match.team100_win %}
        border border-red-600 bg-red-600/10
      {% endif %}
    "
  >
    {% for participant in match.team200 %}
      {% include "match/_match_detail_participant_row.html" %}
    {% endfor %}
    <div>
      Bounty Received: {{ timeline.team_bounties.200|default:0|floatformat:"0" }}G
    </div>
  </div>
</div>
