html {
    min-height: 100%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100%;
}

.logo-glow {
    filter: drop-shadow(0 0 0.25rem rgba(109, 154, 220, 100));
}

.horizontal-scroll {
    overflow-x: scroll;
    white-space: nowrap;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

hr {
    border-style: none;
    height: 1px;
    background: white;
}

/* LOW PROFILE SCROLLBAR */
.quiet-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F500;
}
.quiet-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #2525257d;
}
.quiet-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F500;
}
.quiet-scroll {
    scrollbar-color: #222 #575757;
    scrollbar-width: thin;
}


.ReactModal__Content--after-open {
    scrollbar-color: #222 #575757;
    scrollbar-width: thin;
}
.ReactModal__Content--after-open::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F500;
}
.ReactModal__Content--after-open::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #2525257d;
}
.ReactModal__Content--after-open::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F500;
}


[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
}

[type="checkbox"]+span:not(.lever) {
    padding-left: 25px;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.legend-click .recharts-legend-item {
    cursor: pointer;
}

.match-comment h1 {
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
}

.match-comment h2 {
    font-size: 2.0rem;
    margin: 1rem 0 1rem 0;
}

.match-comment h3 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

.rdtPicker {
    background: #52525f !important;
    border: none !important;
    border-radius: 8px !important;
}

.rdtPicker td {
    padding: 0px;
}

.winning-bar {
    background: linear-gradient(81deg, rgba(40,212,180,1) 0%, rgb(58, 128, 157) 100%);
    height: 15px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.losing-bar {
    background: linear-gradient(81deg, rgb(230, 136, 103) 0%, rgba(199,37,37,1) 100%);
    height: 15px;
    display: inline-block;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.match-card {
    width: 600px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
}

.win-loss-card-bar {
    display: inline-block;
    width: 8px;
    height: 100px;
    border-radius: 2px;
    margin-left: -15px;
    margin-right: 8px;
}

.react-tiny-popover-container {
    background: black;
    padding: 15px;
    opacity: 0.9;
    max-width: 300px;
    border-radius: 10px;
}


@media only screen and (min-width: 601px) {
    .collapsible-plays-with{
        visibility: collapse;
    }
}

@media only screen and (min-width: 993px) {
    .collapsible-plays-with{
        visibility: visible;
    }
}
