/* default colors for a dark theme */

.dark {
    --c1: #c9d9f7;
    --gradient-main: linear-gradient(to bottom, #292E49, #536976);
    --gradient-nav: linear-gradient(to right, #212e3e 0%, #373e52 100%);
    --card-background1: #43434e;
    --card-color1: #cecece;
    --sidenav-color1: white;
    --highlight1: #38a4e4;
    --highlight2: #51af6f;
    --highlight3: #ff7474;
    --highlight4: #27a28e;
    --link-color: #88b5d7;
}

a.dark {
    color: var(--link-color);
}

a.dark.silent {
    color: var(--card-color1);
}

blockquote.dark {
    color: #7d838e;
    border-left-color: #8d8c8c;
}

body.dark {
    background: var(--gradient-main);
    color: var(--c1);
}

.card-panel.dark {
    background: var(--card-background1);
    color: var(--card-color1);
}

.dark.background {
    background: var(--gradient-main);
    color: var(--c1);
}

input.dark {
    color: var(--c1);
}

div.input-field.dark>div>input.select-dropdown {
    color: var(--c1);
}

nav.dark {
    background-image: var(--gradient-nav);
}

ul.sidenav.dark {
    background: var(--gradient-main);
}

.sidenav.dark li>a {
    color: var(--sidenav-color1);
}

.dark.highlight1 {
    color: var(--highlight1);
}

.dark.highlight2 {
    color: var(--highlight2);
}

.dark.highlight3 {
    color: var(--highlight3);
}

.dark.highlight4 {
    color: var(--highlight4);
}