/* default colors for a light theme */

.light {
    --c1: #3c5857;
    --gradient-main: linear-gradient(to  top left, #f3ebd0 0%, #e0e1ff 99%, #e3eeff 100%);;
    --gradient-nav: linear-gradient(-20deg, #e8e6f4 0%, #343656 100%, #faaca8 100%);
    --card-background1: linear-gradient(to top right, #f3ebeb 0%, #e9f7fb 99%, #e3eeff 100%);
    --card-color1: #674757;
    --sidenav-color1: #615773;
    --highlight1: #38a4e4;
    --highlight2: #51af6f;
    --highlight3: #ff7474;
    --highlight4: #27a28e;
    --highlight5: #debe9c;
    --highlight6: #f7b287;
    --link-color: #88b5d7;
    --button-color1: gray;
    --button-color1-hover: lightgray;
    --muted: #7d6a6a;
    --selected: #4074a8;
    --plain: #9aa4b5;
    --error-color: #e25e5e;
    --success-color: #46d87e;
}

a.light {
    color: var(--link-color);
}

a.light.silent {
    color: var(--card-color1);
}

blockquote.light {
    color: #7d838e;
    border-left-color: #8d8c8c;
}

body.light {
    background: var(--gradient-main);
    color: var(--c1);
}

.card-panel.light {
    background: var(--card-background1);
    color: var(--card-color1);
}

.light.custom-modal {
    background: var(--card-background1);
    color: var(--card-color1);
    border-radius: 5px;
}

.light.background {
    background: var(--gradient-main);
    color: var(--c1);
}

/* use on card */
.light.muted {
    color: var(--muted);
}

/* use on plain backround */
.light.plain {
    color: var(--plain);
}

input.light {
    color: var(--c1);
}

div.input-field.light>div>input.select-dropdown {
    color: var(--c1);
}

nav.light {
    background-image: var(--gradient-nav);
}

ul.sidenav.light {
    background: var(--gradient-main);
}

.sidenav.light li>a {
    color: var(--sidenav-color1);
}

.light.highlight1 {
    color: var(--highlight1);
}

.light.highlight2 {
    color: var(--highlight2);
}

.light.highlight3 {
    color: var(--highlight3);
}

.light.highlight4 {
    color: var(--highlight4);
}

.light.highlight5 {
    color: var(--highlight5);
}

.light.highlight6 {
    color: var(--highlight6);
}

.light.pill {
    background: gray;
    border-radius: 4px;
    padding: 0 5px;
    color: white;
}

.light.btn-small, .light.btn, .light.btn-large {
    background-color: var(--button-color1);
}

.light.btn-small:hover, .light.btn:hover, .light.btn-large:hover {
    background-color: var(--button-color1-hover);
}

.light.btn-flat {
    background-color: #00000000;
    color: var(--link-color);
}

.light.btn-flat:hover {
    background-color: #4e5569;
    color: var(--link-color);
}

.light.btn-small.selected, .light.btn.selected, .light.btn-large.selected {
    background-color: var(--selected);
}

.light.error {
    color: var(--error-color);
}

.light.error-bordered {
    color: var(--error-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--error-color);
    padding: 8px;
    border-radius: 5px;
}

.light.success {
    color: var(--success-color);
}

.light.success-bordered {
    color: var(--success-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--success-color);
    padding: 8px;
    border-radius: 5px;
}