/* default colors for a light theme */

.light {
    --c1: #3c5857;
    --gradient-main: linear-gradient(to  top left, #f3ebd0 0%, #e0e1ff 99%, #e3eeff 100%);;
    --gradient-nav: linear-gradient(-20deg, #e8e6f4 0%, #343656 100%, #faaca8 100%);
    --card-background1: linear-gradient(to top right, #f3ebeb 0%, #e9f7fb 99%, #e3eeff 100%);
    --card-color1: #674757;
    --sidenav-color1: #615773;
    --highlight1: #38a4e4;
    --highlight2: #51af6f;
    --highlight3: #ff7474;
    --highlight4: #27a28e;
    --highlight5: #debe9c;
    --link-color: #88b5d7;
}

a.light {
    color: var(--link-color);
}

a.light.silent {
    color: var(--card-color1);
}

blockquote.light {
    color: #7d838e;
    border-left-color: #8d8c8c;
}

body.light {
    background: var(--gradient-main);
    color: var(--c1);
}

.card-panel.light {
    background: var(--card-background1);
    color: var(--card-color1);
}

.light.background {
    background: var(--gradient-main);
    color: var(--c1);
}

input.light {
    color: var(--c1);
}

div.input-field.light>div>input.select-dropdown {
    color: var(--c1);
}

nav.light {
    background-image: var(--gradient-nav);
}

ul.sidenav.light {
    background: var(--gradient-main);
}

.sidenav.light li>a {
    color: var(--sidenav-color1);
}

.light.highlight1 {
    color: var(--highlight1);
}

.light.highlight2 {
    color: var(--highlight2);
}

.light.highlight3 {
    color: var(--highlight3);
}

.light.highlight4 {
    color: var(--highlight4);
}

.light.highlight5 {
    color: var(--highlight5);
}

.light.pill {
    background: gray;
    border-radius: 5px;
    padding: 0 5px;
    color: white;
}