<c-vars class="my-2" />

{% load humanize %}
<div class="rounded px-2 champion-stats {{ class }}">
  <h3>Champion Stats ({{ major }}.{{ minor|default:"x" }})</h3>
  {% if queue == 420 %}
    <div>Solo Queue</div>
  {% elif queue == 440%}
    <div>Flex Queue</div>
  {% endif %}
  <div class="flex gap-x-2">
    <div class="flex flex-col gap-y-2">
      <button
        {% if minor is not None %}
          hx-get="{% url 'stats:champions-version' puuid=puuid major=major minor=minor queue=420 %}"
        {% else %}
          hx-get="{% url 'stats:champions-version' puuid=puuid major=major queue=420 %}"
        {% endif %}
        hx-target="closest .champion-stats"
        hx-swap="outerHTML"
        class="btn btn-default"
      >
        Solo Queue
      </button>
      <button
        {% if minor is not None %}
          hx-get="{% url 'stats:champions-version' puuid=puuid major=major minor=minor queue=440 %}"
        {% else %}
          hx-get="{% url 'stats:champions-version' puuid=puuid major=major queue=440 %}"
        {% endif %}
        hx-target="closest .champion-stats"
        hx-swap="outerHTML"
        class="btn btn-default"
      >
        Flex Queue
      </button>
    </div>
    <div class="flex flex-col gap-y-2 gap-x-1 h-[100px] flex-wrap">
      {% for version in versions %}
        <button
          {% if version.minor %}
            hx-get="{% url 'stats:champions-version' puuid=puuid major=version.major minor=version.minor queue=queue %}"
          {% else %}
            hx-get="{% url 'stats:champions-version' puuid=puuid major=version.major queue=queue %}"
          {% endif %}
          hx-swap="outerHTML"
          hx-target="closest .champion-stats"
          class="btn btn-default">
          {{ version.version }}
        </button>
      {% endfor %}
    </div>
  </div>
  <div class="flex gap-2 max-h-[600px] overflow-y-scroll flex-wrap">
    {% for stat in championstats %}
      <div class="flex flex-col p-2 border border-white rounded w-48">
        <div class="flex gap-x-2">
          <img src="{{ stat.champion.image_url }}" class="w-8 h-8" />
          <div>
            <div>
              {{ stat.champion.name }} ({{ stat.wins }} / {{ stat.losses }})
            </div>
            <div>
              {{ stat.win_percentage|floatformat:1 }}%
            </div>
          </div>
        </div>
        <div>
          <b>{{ stat.kda|floatformat:2 }}</b> KDA
        </div>
        <div>
          <b>{{ stat.dpm|floatformat:0|intcomma }}</b> DPM
        </div>
        <div>
          <b>{{ stat.vspm|floatformat:1|intcomma }}</b> VSPM
        </div>
        <div>
          <b>{{ stat.dtpm|floatformat:0|intcomma }}</b> DMG Taken/min
        </div>
        <div>
          <b>{{ stat.dttpm|floatformat:0|intcomma }}</b> Tower DMG/min
        </div>
        <div>
          <b>{{ stat.dtopm|floatformat:0|intcomma }}</b> Obj DMG/min
        </div>
      </div>
    {% endfor %}
  </div>
</div>
