<c-vars id="player-stat-chart" />

<canvas id="{{ id }}">
</canvas>

<div class="flex gap-x-1 gap-y-1 flex-wrap text-xs justify-center stat-select-buttons">
  <button class="px-auto btn btn-default total_damage_done_to_champions">Champion DMG</button>
  <button class="px-auto btn btn-default total_gold">Gold</button>
  <button class="px-auto btn btn-default total_damage_taken">DMG Taken</button>
  <button class="px-auto btn btn-default xp">XP</button>
  <button class="px-auto btn btn-default level">Level</button>
  <button class="px-auto btn btn-default attack_speed">Attack Speed</button>
  <button class="px-auto btn btn-default attack_damage">AD</button>
  <button class="px-auto btn btn-default armor">Armor</button>
  <button class="px-auto btn btn-default magic_resist">MR</button>
</div>
<script>
  (function () {
    const data = window.framesList.map(frame => {
      const parts = {};
      for (const p of frame.participantframes) {
        parts[parseInt(p.participant_id)] = p;
      }
      return parts
    })
    const pids = Object.keys(data?.[0] || {})
    let selected = 'total_damage_done_to_champions'
    let chart = null;

    function buildChart(statKey) {
      selected = statKey;
      const datasets = pids.map(pid => {
        return {
          label: window.participantsList?.[pid]?.champion?.name,
          data: data.map(x => x[pid][statKey]),
        }
      })
      if (chart) {
        for (let i=0; i<datasets.length; i++) {
          chart.data.datasets[i].data = datasets[i].data;
        }
        chart.update();
      } else {
        chart = new Chart(
          document.getElementById('{{ id }}'),
          {
            options: {
              aspectRatio: 1.5,
              interaction: {
                mode: 'index',
              },
              plugins: {
                tooltip: {
                  itemSort: (a, b) => {
                    return b.raw - a.raw
                  },
                },
              },
            },
            type: 'line',
            data: {
              labels: data.map((x, i) => `${i + 1}m`),
              datasets: datasets,
            },
          }
        );
      }

      for (const button of document.querySelectorAll('.stat-select-buttons button')) {
        if (button.classList.contains(statKey)) {
          button.setAttribute('disabled', 'true');
        } else {
          button.removeAttribute('disabled');
        }
      }
    }
    buildChart('total_damage_done_to_champions');

    const stats = [
      'total_gold',
      'total_damage_done_to_champions',
      'attack_speed',
      'attack_damage',
      'armor',
      'total_damage_taken',
      'level',
      'xp',
      'magic_resist',
    ]
    for (const stat of stats) {
      for (const el of document.querySelectorAll(`.${stat}`)) {
        el.addEventListener('click', () => buildChart(stat));
      }
    }
  })()
</script>
