<c-vars id="player-stat-chart" />

<div class="flex flex-col h-full">
  <div id="{{ id }}-legend"></div>
  <div class="grid grid-cols-2 gap-x-1">
    <button class="btn btn-default" id="{{ id }}-select-all">Select All</button>
    <button class="btn btn-default" id="{{ id }}-clear-all">Clear All</button>
  </div>

  <div class="relative flex-grow">
    <canvas id="{{ id }}" class="absolute inset-0 w-full h-full">
    </canvas>
  </div>

  <div class="flex gap-x-1 gap-y-1 flex-wrap text-xs justify-center stat-select-buttons">
    <button class="px-auto btn btn-default total_damage_done_to_champions">Champion DMG</button>
    <button class="px-auto btn btn-default total_gold">Gold</button>
    <button class="px-auto btn btn-default gold_diff">Gold Δ</button>
    <button class="px-auto btn btn-default total_cs">CS</button>
    <button class="px-auto btn btn-default cs_diff">CS Δ</button>
    <button class="px-auto btn btn-default total_damage_taken">DMG Taken</button>
    <button class="px-auto btn btn-default xp">XP</button>
    <button class="px-auto btn btn-default xp_diff">XP Δ</button>
    <button class="px-auto btn btn-default level">Level</button>
    <button class="px-auto btn btn-default attack_speed">Attack Speed</button>
    <button class="px-auto btn btn-default attack_damage">AD</button>
    <button class="px-auto btn btn-default armor">Armor</button>
    <button class="px-auto btn btn-default magic_resist">MR</button>
  </div>
</div>

<script>
  (function () {

    const getOrCreateLegendList = (chart, id) => {
      const legendContainer = document.getElementById(id);
      let listContainer = legendContainer.querySelector('ul');

      if (!listContainer) {
        listContainer = document.createElement('ul');
        listContainer.style.display = 'grid'
        listContainer.style.gridTemplateColumns = 'repeat(5, 1fr)';
        listContainer.style.margin = 0;
        listContainer.style.padding = 0;

        legendContainer.appendChild(listContainer);
      }

      return listContainer;
    };

    const htmlLegendPlugin = {
      id: 'htmlLegend',
      afterUpdate(chart, args, options) {
        const ul = getOrCreateLegendList(chart, options.containerID);

        // Remove old legend items
        while (ul.firstChild) {
          ul.firstChild.remove();
        }

        // Reuse the built-in legendItems generator
        const items = chart.options.plugins.legend.labels.generateLabels(chart);

        items.forEach(item => {
          const li = document.createElement('li');
          li.style.alignItems = 'center';
          li.style.cursor = 'pointer';
          li.style.display = 'flex'
          li.style.marginLeft = '10px';

          li.onclick = () => {
            chart.setDatasetVisibility(item.datasetIndex, !chart.isDatasetVisible(item.datasetIndex));
            chart.update();
          };

          // Color box
          const boxSpan = document.createElement('span');
          boxSpan.style.background = item.hidden ? 'gray': item.fillStyle;
          boxSpan.style.borderColor = item.strokeStyle;
          boxSpan.style.borderWidth = (item.hidden ? '0' : item.lineWidth) + 'px';
          boxSpan.style.display = 'inline-block';
          boxSpan.style.flexShrink = 0;
          boxSpan.style.height = '20px';
          boxSpan.style.marginRight = '10px';
          boxSpan.style.width = '20px';

          // Text
          const img = document.createElement('img');
          const part = window.participantsData?.[parseInt(item.text)];
          const imageUrl = part?.champion?.image_url;
          img.setAttribute('src', imageUrl);
          img.setAttribute('title', part?.champion?.name);
          img.style.color = item.fontColor;
          img.style.margin = 0;
          img.style.padding = 0;
          img.style.filter = item.hidden ? "grayscale(1)" : "grayscale(0)";
          img.style.maxWidth = '30px';

          const text = document.createTextNode(item.text);
          img.appendChild(text);

          li.appendChild(boxSpan);
          li.appendChild(img);
          ul.appendChild(li);
        });
      }
    };


    const data = window.framesList.map(frame => {
      const parts = [];
      for (let i=0; i<frame.participantframes.length; i++) {
        const pid = window.participantsList[i]._id;
        parts.push(frame.participantframes.filter(x => x.participant_id.toString() === pid.toString())?.[0]);
      }
      for (let key=0; key<parts.length; key++) {
        const val = parts[key];
        const lanerId = ((parseInt(key) + 5) % 10);
        const laner = parts[lanerId];
        val.gold_diff = val.total_gold - (laner?.total_gold || 0);
        val.xp_diff = val.xp - (laner?.xp || 0);
        val.cs_diff = val.total_cs - (laner?.total_cs || 0);
      }
      const x = {}
      for (const part of parts) {
        x[parseInt(part.participant_id)] = part;
      }
      return x
    })

    const pids = window.participantsList.map(x => x._id);
    let selected = 'total_damage_done_to_champions'
    let chart = null;
    const colors = [
      "#42c5f5",
      '#207ea1',
      '#256ac4',
      '#253dc4',
      '#2e26a3',

      '#b01c48',
      '#c21d6f',
      '#871319',
      '#ad4421',
      '#d9763d',
    ]

    function setChart(statKey) {
      selected = statKey;
      const datasets = pids.map((pid, idx) => {
        const color = colors[idx % (colors.length)]
        return {
          label: pid,
          data: data.map(x => x[pid][statKey]),
          borderColor: color,
          backgroundColor: color,
        }
      })
      if (chart) {
        for (let i = 0; i < datasets.length; i++) {
          chart.data.datasets[i].data = datasets[i].data;
        }
        chart.update();
      } else {
        chart = new Chart(
          document.getElementById('{{ id }}'),
          {
            options: {
              maintainAspectRatio: false,
              interaction: {
                mode: 'index',
                intersect: false,
              },
              plugins: {
                tooltip: {
                  itemSort: (a, b) => {
                    return b.raw - a.raw
                  },
                  callbacks: {
                    label: function (context) {
                      const pid = parseInt(context.dataset.label);
                      const part = window.participantsData?.[pid];
                      let label = part?.champion?.name
                      label += `: ${context.formattedValue}`
                      return label;
                    },
                  },
                },
                htmlLegend: {
                  containerID: '{{ id }}-legend',
                },
                legend: {
                  display: false,
                },
              },
            },
            type: 'line',
            data: {
              labels: data.map((x, i) => `${i}m`),
              datasets: datasets,
            },
            plugins: [htmlLegendPlugin],
          }
        );
      }

      for (const button of document.querySelectorAll('.stat-select-buttons button')) {
        if (button.classList.contains(statKey)) {
          button.setAttribute('disabled', 'true');
        } else {
          button.removeAttribute('disabled');
        }
      }
    }
    setChart('total_damage_done_to_champions');

    function selectAllParticipants() {
      for (let i=0; i<chart.data.datasets.length; i++) {
        chart.show(i);
      }
    }

    function clearAllParticipants() {
      for (let i=0; i<chart.data.datasets.length; i++) {
        chart.hide(i);
      }
    }

    const stats = [
      'total_gold',
      'total_damage_done_to_champions',
      'attack_speed',
      'attack_damage',
      'armor',
      'total_damage_taken',
      'level',
      'xp',
      'xp_diff',
      'magic_resist',
      'gold_diff',
      'total_cs',
      'cs_diff',
    ]
    for (const stat of stats) {
      for (const el of document.querySelectorAll(`.${stat}`)) {
        el.addEventListener('click', () => setChart(stat));
      }
    }
    document.getElementById('{{ id }}-select-all').addEventListener('click', selectAllParticipants)
    document.getElementById('{{ id }}-clear-all').addEventListener('click', clearAllParticipants)
  })()
</script>
