{% load static %}

<div class="h-full w-full flex flex-col gap-y-1">
  <div class="relative flex-grow w-full">
    <div class="absolute inset-0 w-full h-full object-contain object-center rounded">
      <img
        class="aspect-square h-full rounded"
        src="{% static "general/map.jpg" %}"
        alt="Summoner's Rift"
      >
    </div>
  </div>
  <div class="flex gap-x-1 text-xs">
    <button class="btn btn-default">L</button>
    <button class="btn btn-default">R</button>
  </div>
</div>
