<c-vars id="rift-map" />
{% load static %}

<div class="h-full w-full flex flex-col gap-y-1">
  <div class="relative flex-grow w-full">
    <div class="absolute inset-0 w-full h-full object-contain object-center rounded">
      <img id='{{ id }}-map-element'
           class="aspect-square h-full rounded"
           src="{% static 'general/map.jpg' %}"
           alt="Summoner's Rift">
    </div>
    {% for part in match.participants.all %}
      <img id="{{ id }}-part-{{ part.get_id }}"
           src="{{ part.champion.image.file_40.url }}"
           alt="{{ part.champion.name }}"
           style="position: absolute"
           class="w-8 rounded-full border-4 transition-all duration-500 {% if part in match.team100 %} border-blue-500 {% else %} border-red-500 {% endif %} ">
    {% endfor %}
    {% for struct in structures %}
      <div id="{{ id }}-{{ struct.key }}"
           data-key="{{ struct.key }}"
           data-x="{{ struct.x }}"
           data-y="{{ struct.y }}"
           class="w-4 h-4 border-neutral-700 border-2 absolute rounded-full transition-all duration-500 rift-structure"
           style="left: 0px;
                  bottom: 0px">
      </div>
    {% endfor %}
  </div>
  <div class="flex gap-x-1 text-xs">
    <button id="{{ id }}-prev" class="btn btn-default">
      L
    </button>
    <button id="{{ id }}-next" class="btn btn-default">
      R
    </button>
    <div class="flex text-xs items-center">
      <div id="{{ id }}-time">
        1
      </div>
      <div>
        m
      </div>
    </div>
  </div>
</div>

<script>
  (function() {
    const mapEl = document.getElementById('{{ id }}-map-element');
    const imageWidth = mapEl.clientWidth;
    const maxX = 15300;
    const maxY = 15000;
    const structureElements = document.querySelectorAll('.rift-structure');
    const towerDeadColor = 'bg-red-700'
    const towerAliveColor = 'bg-white'

    function placeStructures() {
      for (const el of structureElements) {
        const x0 = parseInt(el.getAttribute('data-x'));
        const y0 = parseInt(el.getAttribute('data-y'));
        const [x, y] = getPosition(x0, y0);
        if (typeof x === 'number' && typeof y === 'number') {
          el.style.left = x + 'px';
          el.style.bottom = y + 'px'
        }
      }
    }

    function getPosition(x, y) {
      const xVal = (x / maxX) * imageWidth;
      const yVal = (y / maxY) * imageWidth;
      return [xVal, yVal];
    }

    function updateTowerState(frame) {
      for (const el of structureElements) {
        const key = el.getAttribute('data-key');
        const isAlive = frame.tower_state[key];
        if (isAlive) {
          el.classList.remove(towerDeadColor);
          el.classList.add(towerAliveColor);
        } else {
          el.classList.remove(towerAliveColor);
          el.classList.add(towerDeadColor);
        }
      }
    }

    function update() {
      const frame = window.framesList?.[tidx];
      for (const pf of frame.participantframes) {
        const [x, y] = getPosition(pf.x, pf.y);
        const pid = pf.participant_id;
        const img = document.getElementById(`{{ id }}-part-${pid}`);
        img.style.left = x + "px";
        img.style.bottom = y + "px";
      }
      updateTowerState(frame);
      document.getElementById("{{ id }}-time").innerText = tidx;
    }

    function forward() {
      setTidx(tidx >= window.framesList.length - 1 ? window.framesList.length - 1 : tidx + 1);
    }

    function backward() {
      setTidx(tidx <= 0 ? 0 : tidx - 1);
    }
    update();
    window.onTidxChangeHandlers.push(update);
    placeStructures();
    document.getElementById("{{ id }}-prev").addEventListener('click', () => backward());
    document.getElementById("{{ id }}-next").addEventListener('click', () => forward());
  })()
</script>
