<c-vars id="team-gold-chart" />

<div id="{{ id }}-chart" class="flex flex-col h-full">

  <div class="relative flex-grow">
    <canvas id="{{ id }}" class="absolute inset-0 w-full h-full">
    </canvas>
  </div>
  {% if heartrate %}
    <form hx-post="{% url 'activity:update-heartrate' match_id=object.external_id %}">
      {% csrf_token %}
      <button class="btn btn-default" type="submit">refresh HR</button>
    </form>
  {% endif %}

</div>


<script>
  (function() {
    const data = window.framesList;
    const hrData = window.hrList;
    const datasets = [
      {
        fill: true,
        label: 'Gold Advantage',
        data: data.map(row => row.team100_gold - row.team200_gold),
        yAxisID: 'y'
      },
    ]
    if (hrData.length > 0) {
      datasets.push({
        fill: false,
        label: 'HR',
        data: hrData.map(x => x.y),
        yAxisID: 'y1'
      });
    }
    const chart = new Chart(
      document.getElementById('{{ id }}'),
      {
        type: 'line',
        data: {
          labels: data.map((x, i) => `${i + 1}m`),
          datasets: datasets,
        },
        lineAtIndex: [0],
        plugins: [window.verticalLinePlugin],
        options: {
          scales: {
            y: {
              type: 'linear',
              display: true,
              position: 'left',
            },
            y1: {
              type: 'linear',
              display: true,
              position: 'right',

              // grid line settings
              grid: {
                drawOnChartArea: false, // only want the grid lines for one axis to show up
              },
            },
          },
          maintainAspectRatio: false,
          animation: {
            duration: 0,
          },
          interaction: {
            mode: 'index',
            intersect: false,
          },
          onHover: (events, elements, chart) => {
            const idx = elements?.[0]?.index;
            if (idx !== undefined) {
              setTidx(idx)
            }
          },
          plugins: {
            tooltip: {
              callbacks: {
                label: function (context) {
                  let label = ''
                  if (context.dataset.yAxisID === 'y1') {
                    label += `${context.formattedValue} BPM`
                    return label
                  }
                  let y = context.parsed.y;
                  if (context.parsed.y < 0) {
                    label += `Red -${context.formattedValue}g`
                  } else {
                    label += `Blue ${context.formattedValue}g`
                  }
                  return label;
                }
              }
            }
          }
        },
      }
    );

    function updateLine(tidx) {
      if (tidx !== undefined) {
        chart.config._config.lineAtIndex = [tidx];
        chart.update();
      }
    }

    window.onTidxChangeHandlers.push(updateLine);
  })()
</script>
