<c-vars id="team-gold-chart" />

<canvas id="{{ id }}">
</canvas>

<script>
  (function() {
    const data = window.framesList;
    const chart = new Chart(
      document.getElementById('{{ id }}'),
      {
        type: 'line',
        data: {
          labels: data.map((x, i) => `${i + 1}m`),
          datasets: [
            {
              fill: true,
              label: 'Gold Advantage',
              data: data.map(row => row.team100_gold - row.team200_gold)
            }
          ]
        },
        lineAtIndex: [0],
        plugins: [window.verticalLinePlugin],
        options: {
          maintainAspectRatio: false,
          animation: {
            duration: 0,
          },
          interaction: {
            mode: 'index',
            intersect: false,
          },
          onHover: (events, elements, chart) => {
            const idx = elements?.[0]?.index;
            if (idx !== undefined) {
              setTidx(idx)
            }
          },
          plugins: {
            tooltip: {
              callbacks: {
                label: function (context) {
                  let y = context.parsed.y;
                  let label = ''
                  if (context.parsed.y < 0) {
                    label += `Red -${context.formattedValue}g`
                  } else {
                    label += `Blue ${context.formattedValue}g`
                  }
                  return label;
                }
              }
            }
          }
        },
      }
    );

    function updateLine(tidx) {
      if (tidx !== undefined) {
        chart.config._config.lineAtIndex = [tidx];
        chart.update();
      }
    }

    window.onTidxChangeHandlers.push(updateLine);
  })()
</script>
