<div class="flex flex-col gap-y-2">
  <div class="flex gap-x-2">
    <div class="flex flex-col">
      <img class="aspect-square w-16 rounded"
           src="{{ profile_icon.image_url }}"
           alt="{{ summoner.simple_riot_id }}">
      <div class="mx-auto text-xs bg-gray-200 text-black rounded px-2 font-bold mt-[-10px]">
        {{ summoner.summoner_level }}
      </div>
    </div>
    <div class="flex flex-col gap-y-1 mb-auto w-full">
      <div class="flex w-full">
        <c-tooltip class="mx-auto">
          <div class="mx-auto flex underline">
            <div>
              {{ summoner.riot_id_name }}
            </div>
            <div class="text-gray-400">
              #{{ summoner.riot_id_tagline }}
            </div>
          </div>
          <c-slot name="content">
            <div class="flex flex-col gap-y-2 mx-2">
              <h4 class="underline"
                  title="Only names found in imported games will be listed here.">
                Previous Names
              </h4>
              {% for name in namechanges %}
                <div>
                  {{ name.old_name }}
                </div>
              {% empty %}
                <div>
                  No Names Found
                </div>
              {% endfor %}
            </div>
          </c-slot>
        </c-tooltip>
        <div class="ml-auto flex gap-x-4">
          <div
            class="w-6"
            hx-trigger="load" hx-swap="innerHTML" hx-get="{% url 'player:played_with_count' puuid=summoner.puuid %}">
            <c-player.played-with-count :count=0 />
          </div>
          <div class="flex gap-x-1">
            <c-player.favorite :summoner_id="summoner.id" :is_favorite="is_favorite" />
            <c-player.follow :summoner_id="summoner.id" :is_follow="is_follow" />
          </div>
        </div>
      </div>

      <div class="text-xs mx-auto">
        <c-player.live-dot :region="summoner.region" :puuid="summoner.puuid" offset="left-0 top-[-5px]">
          <button
            hx-get="{% url 'player:spectate' region=summoner.region puuid=summoner.puuid %}"
            hx-target=".live-game-content"
            hx-swap="innerHTML"
            class="btn btn-link live-game-button">Show Live Game</button>
        </c-player.live-dot>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-1">
    <div class="flex gap-x-2">
      <div class="flex flex-col gap-y-1 font-bold">
        {% for position in positions %}
          <div>
            {{ position.display_queue }}
          </div>
        {% endfor %}
      </div>
      <div class="flex flex-col gap-y-1 mx-auto">
        {% for position in positions %}
          <div class="text-right">
            {{ position.tier }} {{ position.rank }} {{ position.league_points }}LP
          </div>
        {% endfor %}
      </div>
      <div class="flex flex-col gap-y-1">
        {% for position in positions %}
          <div class="flex gap-x-2">
            <div class="my-auto font-bold">
              {{ position.winrate }}%
            </div>
            <div class="text-sm my-auto">
              ({{ position.wins }}/{{ position.losses }})
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
