{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=.8"/>
    <meta name="description" content="{% block metadescription %}{% endblock metadescription %}"/>
    <title>HardStuck</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- latex css -->
    <link
        href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css"
        rel="stylesheet"
    />

    {# REACT #}
    {# js and css bundles loaded through context processors to take into account their hash #}
    {% if react_dev.scripts %}
        {{ react_dev.scripts|safe }}
        {# <link rel='stylesheet' href='{{ react_dev.css }}' > #}
    {% else %}

        <script src="{% static react_data.js %}"></script>
        <script src="{% static react_data.chunk %}"></script>
        <script src="{% static react_data.runtime %}"></script>
        <link rel='stylesheet' href='{% static react_data.css %}' >
    {% endif %}
    <title>{% block title %}{% endblock title %}</title>

    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon-suitesale.ico' %}"> -->

    {% block header %}{% endblock header %}
</head>
    
<body id="body-wrap">
    {% block body %}
    {% endblock body %}

    {% block htmlfooter %}
    {% endblock htmlfooter %}
    
    {% block footer %}{% endblock footer %}

</body>
</html>
