{% load static %}
<div class="border-gray-400 border-b-2 py-2 px-4 mb-2 flex">
  <a
    {% if request.user.is_authenticated %}
      href="{% url 'feed' %}"
    {% else %}
      href="{% url 'home' %}"
    {% endif %}
    class="mr-2">
    <img src="{% static 'logo-clean.png' %}" alt="hardstuck.club logo" class="w-8 h-8 logo">
  </a>
  <div>
    <c-search-form />
  </div>
  <div class="ml-auto items-center content-center flex">
    {% if request.user.is_authenticated %}
      <div id="favorites-list">
        <c-player.favorites-list />
      </div>
      <form action="{% url 'player:logout-view' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-link" type="submit">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'player:login' %}">Login</a>
    {% endif %}
  </div>
</div>
